.navbar-items{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    width: 95%;
    height: 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}
.navbar-logo{
    color: #222;
    font-size: 2rem;
    cursor: pointer;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto );
    list-style: none;
    gap: 10px;
    align-items: center;
}
.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}
.nav-links i{
    padding-right: 10px;
}
.nav-links:hover{
    background-color: #01959a;
    color: #fff;
    transition:all 0.2s ease-in-out;
}
.nav-link-mobile{
    display: none;
}
button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 0.3rem;
}

button:hover{
    background-color: #151516;
    color: #fff;
}
